%h1{:class => "blog", :id => "message",} Welcome to Colton's Blog!

%html
  %div{id: "post", class: "post"}
    %p author: Some Random Guy
    %p title: Some book
    %p text: Some stuff
  %br

  %form{:action => "post_blog", :method => "get"}
    %br
      %div{id: "new_blog_button"}
        %input{:type => "submit", :id => "post_blog", :value => "New"}
