%b{:class => "blog", :id => "message"} A Single Blog
%html
  %head
    %title Single Blog Post
  %body
    %header
      %h2 90's snackwave sapiente, commodo viral typewriter hoodie cold-pressed esse man braid helvetica. Chartreuse delectus pop-up readymade, literally plaid deserunt occaecat live-edge kitsch poke.
      %p Really cool vintage american made vegan all natural organic cheese.
      %p Dolore four loko slow-carb cillum selvage, subway tile meh schlitz hell of street art vexillologist YOLO humblebrag pop-up PBR&B. Vinyl trust fund aesthetic semiotics.
      %footer
        %author By Colton Adkins
        %br
        %h3 Comments
        %p Comment 1
        %p Comment 2
        %p Comment 3
        %form{:action => "commentBlog", :method => "post"}
        %input{:type => "submit", :id => "comment", :value => "Add Comment"}